/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

body {
  background-color: #E2A645;
  font-family: 'Yeon Sung', cursive;
	font-size: 22px;
	color: #3d3752;
  background-image: url("../assets/images/background.jpg");
	/*background-size: 100%;*/
	background-attachment: fixed;
  background-repeat: no-repeat;
	position: fixed;
	width: 800px;
	height: 600px;
}

#not-secret-message {
  padding: 20px;
  margin: 20px;
  display: block;
}

#secret-message {
	display: none;
	opacity: 0.7;
	padding: 40px;
  margin: 40px;
  font-family: 'Nanum Brush Script', cursive;
	font-size: 340px;
	color: #3d3752;
}
