/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

body {
  background-color: #E2A645;
  font-family: 'Yeon Sung', cursive;
	font-size: 170px;
	color: #3d3752;
	background-attachment: fixed;
  background-repeat: no-repeat;
	display:flex; 
	justify-content: center
	width: 1200px;
	height: 600px;
}

#not-secret-message {
  padding: 40px;
  margin:0 auto;
  display: block;
   text-align: center;

  opacity: 0.75;
}

#secret-message {
	display: none;
	opacity: 0.75;
	padding: 40px;
	 text-align: center;
  margin:0 auto;
  font-family: 'Nanum Brush Script', cursive;
	font-size: 440px;
	color: #3d3752;
}
