/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

body {
  padding: 20px;
  margin: 20px;
  background-color: #E2A645;
  font-family: 'Nanum Brush Script', cursive;
	font-size: 26px;
	color: #985407;

}

#not-secret-message {
  display: block;
}

#secret-message {
  display: none;
  font-family: 'Nanum Brush Script', cursive;
	font-size: 220px;
	color: #985407;
}
